.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03051e;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

