.container {
    min-height: 90vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  
.main {
    width: 1200px;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    justify-content: center;
}