.nav {
    height: 50px;
    padding: 10px;
    background: #2a3158;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        
        li a {
            font-size: 1.2rem;
            margin: 0 1.5rem;
            text-decoration: none;
            font-weight: 600;
            &:hover:active {
                color: #75b5c9;
                border-color: #75b5c9;
              }
        }
        
    }
    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            color: black;
            margin: 0 0.5rem 0 0.5rem;
            text-decoration: none;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            transition: color 0.15s ease, border-color 0.15s ease;
        }
    }
}