.taskContainer {
    border: 1px solid #c7c5f7;
    padding: 2rem;
    box-shadow: 0 0 0.4rem rgba(#5e4562, 0.35);
    width: 45rem;
    margin-left: 2rem;
}
.dashboard {
    display: flex;
    margin: 0rem auto;
    border-radius: 2rem;
    &__title {
      text-align: center;
      font-size: 2.5rem;
      margin: 3rem 0;
    }
    &__left {
      height: max-content;
      width: 15%;
      background-color: hsla(243, 15%, 54%, 0.60);
      color: #2a3158;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-bottom-right-radius: 2rem;
      p {
        transition: 0.3s ease-in;
        cursor: pointer;
      }
      .deletebtn {
          background-color: inherit;
          color: #fe464e;
      }
      .addbtn  {
        background-color: #2a3158;
        padding: 0.3rem;
        color: #ccc;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          border: 1px solid #2a3158;
          color: #2a3158;
          border-radius: 0.5rem;
        }
      }
      .active {
        display: flex;
        justify-content: space-between;
        background-color: #593780;
        color: #fff;
        padding: 0.3rem 0.5rem 0.5rem 0.5rem;
      }
      .inactive {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }
      .active1 {
        border-top-right-radius: 2rem;
      }
      .active2 {
        border-bottom-right-radius: 2rem;
      }
    }
  }