.container {
    display: flex;
    flex-direction: column;
}
.tasklist {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    h4 {
        text-align: center;
    }
    h6 {
        text-transform: uppercase;
    }
    ul {
        font-size: 14px;
    }
}
.taskbtn {
    background-color: #2a3158;
    padding: 0.3rem;
    color: #ccc;
    border-radius: 0.3rem;
    &:hover {
        background-color: hsla(243, 15%, 54%, 0.60);
        color: #2a3158;
    }
}