.task {
    span {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0.4rem;
    }
}
.edit {
    background-color: transparent;
    font-weight: 600;
    color: #63a583;
    &:hover {
        background-color: #63a583;
        color: #ccc;
        border-radius: 0.3rem;
    }
}
.delete {
    background-color: transparent;
    color: #fe464e;
    &:hover {
        background-color: #fe464e;
        color: #ccc;
        border-radius: 0.3rem;
    }
}